#contact {
    height: 550px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;

    #map {
        iframe {
            width: 100%;
            height: 550px;
        }
    }

    #form-content {
        
        padding-top: 60px;
        padding-left: 100px;
        h3 {
            font-size: 29px;
            margin-bottom: 40px;
        }

        #names {
            display: flex;
            flex-direction: row;

            label {
                @extend %labelConf;
                font-size: 18px;
                
            }
            input {
                @extend %inputConf;
                
            }
            div {
                margin: 0 0;
                margin-right: 40px;
                position: relative;
            }

        }

       #form-email {
          width: 450px;
          margin-top: 10px;

        label {
            @extend %labelConf;
            font-size: 18px;
            
        }
        input {
            @extend %inputConf;
            width: 100%;
        }
        }

        #form-area {
            width: 450px;
            margin-top: 10px;
            
            label {
                @extend %labelConf;
                font-size: 18px;
                
            }
            textarea {
                @extend %inputConf;
                width: 100%;
                height: 150px;
                margin-bottom: 15px;
                

            } 
        }

        button {
            height: 50px;
            width: 90px;
            font-family: $fontPoppins;
            background-color: $colorOrange;
            margin-top: 0;
            transition: all 0.4s linear;
            cursor: pointer;

            &:hover {
                background-color: #e9a220;
                font-weight: 500;
                
            }
        }
    }
}

@media screen and (max-width:1050px) {
    #contact {
        #form-content {
            padding-top: 40px;
            padding-left: 50px;
        }
    }
}

@media screen and (max-width:940px) {
    #contact {
        #form-content {
            padding-top: 40px;
            padding-left: 20px;
        }
    }
}

@media screen and (max-width:850px) {
    #contact {
        height: auto;
        display: flex;
        flex-direction: column;
        #form-content {
            margin: 0 auto;
            padding-bottom: 30px;
        }
    }
}

@media screen and (max-width:600px) {
    #contact {
       #map {
            iframe {
                width: 100%;
                height: 350px;
            }
        }
    }
}

@media screen and (max-width:510px) {
    #contact {
        #form-content {
            width: 100%;
            padding-left: 10px;
            h3 {
                font-size: 26px;
                margin-bottom: 30px;
            }
            #names {
                display: grid;
                grid-template-columns: 1fr 1fr;
                label {
                    font-size: 15px;
                }
                div {
                    margin-right: 20px; 
                }
            }
            #form-email {
                width: 430px;
                label {
                    font-size: 15px; 
                }
            }
            #form-area {
                width: 430px;
                label {
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width:460px) {
    #contact {
        #form-content {
            h3 {
                font-size: 24px;
                margin-bottom: 20px;
            }
            #names {
                width: 100%;
                input {
                    width: 100%;
                }
            }
            #form-email {
                width: 100%;
                padding-right: 10px;
            }
            #form-area {
                width: 100%;
                padding-right: 10px;
            }
            button {
                width: 70px;
                height: 40px;
            }
        } 
    }
}