#gallery {
    display: flex;
    flex-direction: column;

    #photos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        transition: all 2s linear;

        .photo-items {
            height: 260px;
            width: 100%;
            
            position: relative;
            transition: all 1s linear;

            

            & img:nth-child(2) {
                height: 100%;
                width: 100%;

            }

            .photo-icon {
                width: 40px;
                height: 40px;
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: $colorOrange;
                transition: all 0.4s linear;
                opacity: 0;
                

                img {
                    width: 40px;
                    height: 40px;

                }
            }
        }
    }

    #rewards {

        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 350px;
        background: url(../img/Screenshot_15.png) no-repeat;
        background-size: cover;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.7);
        }


        .gallery-items {
            z-index: 3;
            margin: auto 50px;
            text-align: center;

            &:hover .gallery-icons {
                
                transform: perspective(150px) translateZ(30px);
                background-color: $colorBlack;
            }

            .gallery-icons {
                width: 100px;
                margin: 0 auto;
                border: 1px solid $colorOrange;
                transition: all 0.5s linear;
                cursor: pointer;


                img {
                    width: 50px;
                    height: 50px;
                    margin: 20px 0;
                }
            }

            h2 {
                color: $colorOrange;
                font-weight: 400;
                margin-top: 30px;
            }

            p {
                color: $colorGrey;
                margin-top: 10px;
            }

        }
    }
}


@media screen and (max-width:1250px) {
    #gallery {
        #photos {
            .photo-items {
                height: 200px;
            }
        } 
    }
}

@media screen and (max-width:960px) {
    #gallery {
        #photos {
            .photo-items {
                height: 170px;
            }
        } 
    }
}

@media screen and (max-width:860px) {
    #gallery {
        #photos {
            .photo-items {
                height: 150px;
            }
        } 
        #rewards {
            height: auto;
            padding: 30px 0;

            .gallery-items {
                margin: 0 20px;

                &:hover .gallery-icons {
                
                    transform: perspective(110px) translateZ(20px);
                    background-color: $colorBlack;
                }
                .gallery-icons {
                    width: 70px;
                    img {
                        width: 30px;
                        height: 30px;
                        margin: 15px 0;
                    }
                }
                h2 {
                    font-size: 22px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width:760px) {
    #gallery {
        #photos {
            grid-template: 1fr 1fr / 1fr 1fr;
            .photo-items {
                height: 260px;
            }
        }
    }
}

@media screen and (max-width:680px) {
    #gallery {
        #photos {
            .photo-items {
                height: 230px;
            }
        }
    }
}

@media screen and (max-width:580px) {
    #gallery {
        #photos {
            .photo-items {
                height: 210px;
            }
        }
        #rewards {
            .gallery-items {
                h2 {
                    font-size: 20px;
                }
                p {
                    font-size: 13px;
                } 
            }
        }
    }
}

@media screen and (max-width:530px) {
    #gallery {
        #photos {
            .photo-items {
                height: 180px;
            }
        }
    }
}

@media screen and (max-width:470px) {
    #gallery {
        #photos {
            .photo-items {
                height: 160px;
            }
        }
    }
}

@media screen and (max-width:415px) {
    #gallery {
        #photos {
            .photo-items {
                height: 140px;
            }
        }
        #rewards {
            .gallery-items {
                margin: 0 8px;
                &:hover .gallery-icons {
                
                    transform: perspective(160px) translateZ(20px);
                    background-color: $colorBlack;
                }
                .gallery-icons {
                    width: 60px;
                    img {
                        width: 25px;
                        height: 25px;
                        margin: 15px 0;
                    }
                }
                h2 {
                    font-size: 20px;
                }
                p {
                    font-size: 12px;
                }
            } 
        }
    }
}