header {
    position: relative;


    #placeholder {
        width: 100%;
        color: white;
        display: grid;
        grid-template-columns: 2fr 3fr;
        background-color: rgb(18, 22, 24, 0.9);
        height: 80px;
        margin: 0;
        position: fixed;
        z-index: 4;
    
    
        #logo {
            margin: auto 0;
            margin-left: 220px;
    
            img {
                float: left;
                margin-right: 5px;
            }
            a {
                text-decoration: none;
                color: white;
            }
            #pizza-logo {
                font-family: $fontJosefinSans;
                font-size: 25px;
                margin: 0;
            }
            #pizza-logo2 {
                font-family: $fontPoppins;
                letter-spacing: 3px;
                font-size: 13px;
                margin: 0;
    
                a {
                    color: $colorOrange;
                }
            }
        }
    
        #nav {
    
            margin: auto 0;
    
            a {
                color: $colorGrey;
                text-decoration: none;
                font-family: $fontPoppins;
                padding: 0 30px;
                width: 100%;
                font-size: 16px;
                transition: all 0.5s linear;
    
                &:hover {
                    text-decoration: underline 1.75px;
                    color: #ffffff;
                    font-size: 18px;
                }
                
            }
            .active {
                color: $colorOrange;
                font-size: 18px;
            }
        }
    }

    #place1 {
        background-image: url('../img/Screenshot_10.png');
        opacity: 0;
        transition: opacity 0.5s linear;

        .btn1 {
            border: 2px solid $colorOrange;
            div {
                background-color: $colorOrange;
            }
        }
    }

    #place3 {
        background-image: url('../img/bg_1.jpg');
        opacity: 0;
        transition: opacity 0.5s linear;


        .buttons {
            margin-top: 30px;
            .btn3 {
                border: 2px solid $colorOrange;
                div {
                    background-color: $colorOrange;
                }
            }
        }

        .placeholder3 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: auto auto;
            max-width: 70%;

            .welcome-contains {
                text-align: left;
                padding-top: 60px;

                .btns {
                    text-align: left;
                }
                
            }

            .img-container {
                padding-top: 120px;
                margin-right: 40px;
                img {
                    width: 500px;
                    height: 500px;
                }
            }
        }

    }

    #place2 {
        background-image: url('../img/bg_1.jpg');
        opacity: 1;
        transition: opacity 0.5s linear;

        .buttons {
            margin-top: 30px;
            .btn2 {
                border: 2px solid $colorOrange;
                div {
                    background-color: $colorOrange;
                }
            }
        }

        .placeholder2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: auto auto;
            max-width: 70%;
            
            .welcome-contains {
                text-align: right;
                padding-top: 60px;

                .btns {
                    text-align: right;
                }
                
            }

            .img-container {
                padding-top: 120px;
                margin-left: 40px;
                img {
                    width: 500px;
                    height: 500px;
                }
            }

        }
    }
    
    .welcome {

        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: absolute;
    
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5)
        }
    
        .welcome-contains {
            height: auto;
            max-width: 700px;
            margin: 0 auto;
            margin-top: 170px;
            text-align: center;
            position: relative;
            z-index: 2;
            line-height: 1.4;
    
            & p:nth-child(1) {
                @extend %orangeWords;
                
            }
            & p:nth-child(3) {
                font-family: $fontPoppins;
                color: white;
                margin-top: 20px;
                font-size: 1.2rem;
                font-weight: 300;
                
            }
            h1 {
                font-size: 2.8rem;
                
            }
    
            .btns {
                margin-top: 60px;
                text-align: center;
    
                a {
                    border: 1px solid black;
                    padding: 15px 20px;
                    margin: 0 2px;
                    text-decoration: none;
                    text-align: center;
                    font-family: $fontPoppins;
                    font-size: 14px;
                    transition: all 0.5s linear;
                }
                & a:nth-child(1) {
                    background-color: $colorOrange;
                    color: black;
                    border: 1px solid $colorOrange;
    
                    &:hover {
                        background-color: $colorDarkOrange;
                        border: 1px solid black;
                    }
                }
                & a:nth-child(2) {
                    color: white;
                    border: 1px solid white;
    
                    &:hover {
                        color: black;
                        background-color: $colorDarkOrange;
                        border: 1px solid $colorOrange;
                    }
                }
                
            }
            
        }
        .buttons {
            margin-top: 160px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;
            z-index: 2;
            cursor: pointer;


            .btn-border {
                width: 25px;
                height: 25px;
                
                border: 2px solid white;
                border-radius: 50%;
                margin: 0 5px;
                padding: 2.2px;
                transition: all 0.2s linear;

                &:hover {
                
                    border: 2px solid $colorOrange;
                }


                &:hover div {
                
                    background-color: $colorOrange;
                }

                div {
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    border-radius: 50%;
                    transition: all 0.2s linear;
                    
                }
            }
            
        }

    }
}


@media screen and (max-width: 1170px) {

    header {

        
        #placeholder {
            display: flex;
            flex-direction: row;
            #logo {
                margin-left: 80px;
                margin-right: 100px;
            }

            #nav {
                a {
                    font-size: 15px;
                    &:hover {
                        font-size: 16px;
                    }
                }
                .active {
                    font-size: 16px;
                }
            }
        }

      .welcome {
        .buttons {
            margin-top: 215px;
        }
        .welcome-contains {
            max-width: none;
            h1 {
                font-size: 28px;
            }
            & p:nth-child(3) {
                font-size: 17px;
            }
            .btns {
                a {
                    padding: 8px 10px;
                }
            }
        }
      }
      #place3 {
        .placeholder3 {
            .img-container {
                margin-top: 40px;
                img {
                    width: 400px;
                    height: 400px;
                }
            }
        }
    }
    #place2 {
        .placeholder2 {
            .img-container {
                margin-top: 40px;
                img {
                    width: 400px;
                    height: 400px;
                }
            }
        }
    }   
}
}

@media screen and (max-width: 960px) {
    header {
        

        #placeholder {
            display: flex;
            flex-direction: row;
            #logo {
                margin-left: 60px;
                margin-right: 50px;
            }

            #nav {
                
                a {
                    font-size: 14px;
                    padding: 0 20px;
                    &:hover {
                        font-size: 15px;
                    }
                }
                .active {
                    font-size: 15px;
                }
            }
        }
        .welcome {
            .buttons {
                margin-top: 132px;
            }
            .welcome-contains {
                max-width: none;
                margin-top: 100px;
                h1 {
                    font-size: 20px;
                }
                & p:nth-child(3) {
                    font-size: 14px;
                }
                .btns {
                    
                    
                    margin-top: 30px;
                    
                    a {
                        padding: 8px 10px;
                        margin: 5px 0;
                        width: auto;
                        font-size: 12px;
                    }
                }
            }
          }
          #place3 {
            .placeholder3 {
                .welcome-contains {
                    .btns {
                        display: flex;
                    flex-direction: column;
                        align-items: flex-start;
                    }
                }
                .img-container {
                    margin-top: 40px;
                    img {
                        width: 300px;
                        height: 300px;
                    }
                }
            }
        }
        #place2 {
            .placeholder2 {
                .welcome-contains {
                    .btns {
                        display: flex;
                    flex-direction: column;
                        align-items: flex-end;
                    }
                }
                .img-container {
                    margin-top: 40px;
                    img {
                        width: 300px;
                        height: 300px;
                    }
                }
            }
        }
        /* #place1 {
            .welcome-contains {
                margin-top: 90px;
            }
        }  */
    }
}


@media screen and (max-width: 750px) {
    header {
        height: auto;

        #placeholder {
            #logo {
                margin-left: 30px;
                margin-right: 40px;
                img {
                    width: 19px;
                    height: 20px;
                }
                #pizza-logo {
                    font-family: $fontJosefinSans;
                    font-size: 22px;
                    margin: 0;
                }
                #pizza-logo2 {
                    font-family: $fontPoppins;
                    letter-spacing: 3px;
                    font-size: 11px;
                    margin: 0;
                }
            }

            #nav {
                
                a {
                    font-size: 14px;
                    padding: 0 15px;
                    &:hover {
                        font-size: 15px;
                    }
                }
                .active {
                    font-size: 15px;
                }
            }
        }
        .welcome {
            .buttons {
                margin-top: 200px;
            }
            .welcome-contains {
                max-width: none;
                margin-top: 100px;
                & p:nth-child(1) {
                    font-size: 20px;
                    
                }
                h1 {
                    font-size: 18px;
                }
                & p:nth-child(3) {
                    font-size: 13px;
                    margin-top: 10px;
                }
                .btns {
                    
                    
                    margin-top: 30px;
                    
                    a {
                        padding: 8px 10px;
                        margin: 5px 0;
                        width: auto;
                        font-size: 12px;
                    }
                }
            }
          }
          #place3 {
            .buttons {
                margin-top: 83px;
            }
        }
        #place2 {
            .buttons {
                margin-top: 67px;
            }
        }
    }
}

@media (max-width: 640px) {
    header {
        height: auto;
        #placeholder {
            #logo {
                margin-left: 30px;
                margin-right: 30px;
                img {
                    width: 18px;
                    height: 19px;
                }
                #pizza-logo {
                    font-family: $fontJosefinSans;
                    font-size: 21px;
                    margin: 0;
                }
                #pizza-logo2 {
                    font-family: $fontPoppins;
                    letter-spacing: 3px;
                    font-size: 10px;
                    margin: 0;
                }
            }

            #nav {
                
                a {
                    font-size: 13px;
                    padding: 0 12px;
                    &:hover {
                        font-size: 14px;
                    }
                }
                .active {
                    font-size: 14px;
                }
            }
        }
        .welcome {
            .buttons {
                margin-top: 285px;
                .btn-border {
                    width: 20px;
                    height: 20px;
                }
            }
            .welcome-contains {
                max-width: none;
                margin-top: 100px;
                & p:nth-child(1) {
                    font-size: 22px;
                    
                }
                h1 {
                    font-size: 20px;
                }
                & p:nth-child(3) {
                    font-size: 13px;
                    margin-top: 10px;
                }
                .btns {
                    
                    
                    margin-top: 30px;
                    
                    a {
                        padding: 8px 10px;
                        margin: 5px 0;
                        width: auto;
                        font-size: 12px;
                    }
                }
            }
          }
          #place3 {
            .buttons {
                margin-top: 30px;
            }
            .placeholder3 {
                flex-direction: column;
                .welcome-contains {
                    text-align: center;
                    margin-top: 0;
                    padding-top: 15px;
                    .btns {
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 15px;
                    a {
                        margin-left: 8px;
                    }
                    }
                }
                .img-container {
                    margin: 0;
                    
                }
            }
        }
        #place2 {
            .buttons {
                margin-top: 30px;
            }
            .placeholder2 {
                flex-direction: column-reverse;
                .welcome-contains {
                    text-align: center;
                    margin-top: 0;
                    padding-top: 15px;
                    .btns {
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 15px;
                    a {
                        margin-left: 8px;
                    }
                    }
                }
                .img-container {
                    margin: 0;
                    
                    
                }
            }
        }
    }
}


@media (max-width: 415px) {
    header {
        height: auto;
        #placeholder {
            #nav {
                display: grid;
                grid-template: 1fr 1fr / repeat(3, 1fr);
            }
        }
        #place2 {
            .placeholder2 {
                .img-container {
                    margin-top: 40px;
                    img {
                        width: 200px;
                        height: 200px;
                    }
                }
            }
        }
        #place3 {
            .placeholder3 {
                .img-container {
                    margin-top: 40px;
                    img {
                        width: 200px;
                        height: 200px;
                    }
                }
            }
        }
        .welcome {
            height: 100%;
            .buttons {
                margin-top: 208px;
            }
        }
    }
}

@media (max-width:896px) and (orientation:landscape) {
    header {
        #placeholder {
            #place1 {
                .welcome-contains {
                    margin-top: 0px;
                }
            }
        }
        
    }
}



