#home-menu {
    height: 600px;
    display: grid;
    grid-template-columns: 2fr 4fr;

    #home-menu-pic {
        margin-right: 40px;
        img {
            width: 100%;
            height: 90%;
        }
    }

    #home-menu-content {
        display: flex;
        flex-direction: column;

        #home-menu-buttons {
               margin-top: 50px;
               text-align: left;
               margin-bottom: 50px;
               button {
                border: 1px solid $colorOrange;
                padding: 10px 17px;
                margin: 0 4px;
                text-align: center;
                font-family: $fontPoppins;
                font-size: 16px;
                transition: all 0.4s linear;
                color: $colorOrange;
                background: none;
                cursor: pointer;
                

                &:hover {
                    background-color: $colorDarkOrange;
                    color: black;
                }
            }
            .activeBtn {
                color: black;
                background-color: $colorOrange;
            }
        }

        #home-menu-blocks {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;

            .home-menu-item {
                margin-right: 25px;

                img {
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all 0.6s linear;

                    &:hover {
                        transform: scale(1.4);
                    }
                }

                h4 {
                    margin: 15px 0;
                    font-size: 20px;
                }

                .desc-text {
                    color: $colorGrey;
                    font-size: 15px;
                    font-weight: 200;
                }

                .price {
                    margin: 20px 0;
                    color: $colorOrange;
                }

                button {
                    font-family: $fontPoppins;
                    background: none;
                    width: 90px;
                    height: 30px;
                    color: white;
                    border: 1px solid white;
                    font-size: 13px;
                    cursor: pointer;
                    transition: all 0.4s linear;

                    &:hover {
                        color: $colorOrange;
                        border: 1px solid $colorOrange;
                    }
                }
            }
            
        }
    }
}


@media screen and (max-width:1000px) {
    #home-menu {
        grid-template-columns: 1fr;
        #home-menu-pic { 
            img {
                display: none;
            }
        }
        #home-menu-content {
            #home-menu-buttons {
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width:780px) {
    #home-menu {
        #home-menu-content {
            #home-menu-blocks {
                .home-menu-item {
                    img {
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:630px) {
    #home-menu {
        #home-menu-content {
            #home-menu-buttons {
                text-align: center;
                button {
                    padding: 5px 13px;
                }
            }
            #home-menu-blocks {
                .home-menu-item {
                    img {
                        width: 140px;
                        height: 140px;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    h4 {
                        font-size: 18px;
                    }
                    .desc-text {
                        font-size: 13px;
                    }
                    .price {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:510px) {
    #home-menu {
        #home-menu-content {
            #home-menu-buttons {
                margin-bottom: 20px;
            }
            #home-menu-blocks {
                flex-direction: column;

                .home-menu-item {
                   display: flex;
                   flex-direction: row; 

                   img {
                    margin-left: 12px;
                    margin-right: 10px;
                    &:hover {
                        transform: scale(1.1);
                    }
                   }
                   
                   .price {
                    float: left;
                    margin-left: 50px;
                 }
                   button {
                    margin-top: 17px;
                   }
                }
            }
        }
    }
}

@media screen and (max-width:415px) {
    #home-menu {
        #home-menu-content {
            #home-menu-blocks {
                .home-menu-item {
                    img {
                        width: 110px;
                        height: 110px;
                        margin-right: 7px;
                        margin-top: 15px;
                    }
                    .desc-text {
                        font-size: 12px;
                        text-align: left;
                    }
                    button {
                        font-size: 11px; 
                    }
                    h4 {
                        font-size: 16px;
                    }
                    .price {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}