#menu1 {
    height: auto;
    text-align: center;
    padding-top: 70px;

    p {
        color: $colorGrey;
        font-weight: 200;
        margin: 30px auto;
        width: 40%;
    }

    #menu-blocks {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        margin-top: 70px;

        .menu-items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0;
            background-color: rgb(0, 0, 0, 0.3);
            

            .img-wpapper {
                overflow: hidden;
            

            img {
                width: 100%;
                height: 100%;
                transition: all 0.5s linear;
                cursor: pointer;
                
                

                &:hover {
                    transform: rotate(45deg) scale(1.3);
                    
                }
            }
        }

            .menu-desc {
                padding: 30px 25px;
                overflow: hidden;

                h3 {
                    margin-bottom: 15px;
                    text-align: left;
                }

                p {
                    margin: 0;
                    font-size: 15px;
                    text-align: left;
                    width: 100%;
                }
            }

            .menu-order {
                display: flex;
                flex-direction: row;
                justify-content: left;
                margin-top: 20px;

                p {
                    width: 25%;
                    padding-top: 4px;
                    color: $colorOrange;
                    font-weight: 400;
                }


                button {
                    height: 30px;
                    width: 60px;
                    background: none;
                    color: white;
                    border: 1px solid white;
                    cursor: pointer;
                    transition: all 0.4s linear;

                    &:hover {
                        color: $colorOrange;
                        border: 1px solid $colorOrange;
                    }
                }
            }
        }
    }
}


#menu2 {
    height: 650px;
    text-align: center;
    padding-top: 80px;

    p {
        color: $colorGrey;
        font-weight: 200;
        margin: 20px auto;
        width: 40%;
    }

    #pricing-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;

        .pizza-block {
            margin-right: 40px;

            .pizza-item {
                display: flex;
                flex-direction: row;
                p {
                    margin: 0;
                    width: 100%;
                    font-size: 14px;
                }
    
                img {
                    width: 60px;
                    height: 63px;
                    margin-right: 20px;
                    margin-bottom: 30px;
                    padding-top: 5px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all 0.5s linear;
                }
        
                .pizza-desc {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 15px;
        
                    h4 {
                        margin: 0;
                        width: 100%;
                        padding-top: 5px;
                        border-bottom: 1px dashed $colorDarkOrange;
                        text-align: left;
                    }
                    p {
                        width: 20%;
                        color: $colorDarkOrange;
                        font-weight: 300;
                        text-align: right;
                        font-size: 16px;
                    }
                }
            }

        }

    }
}


@media (max-width:1290px) {
    #menu1 {
        #menu-blocks {
            .menu-items {
                .menu-desc {
                    padding: 15px 15px;
                }
                .menu-order {
                    button {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width:1000px) {
    #menu1 {
        #menu-blocks {
            .menu-items {
                .menu-desc {
                    h3 {
                        font-size: 16px;
                        margin-bottom: 4px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
                .menu-order {
                    margin-top: 7px;
                    button {
                        margin-left: 15px;
                        height: 25px;
                    }
                }
            }
        }
    }
}

@media (max-width:920px) {
    #menu1 {
        #menu-blocks {
            grid-template: repeat(3, 1fr) / repeat(2, 1fr);

            .reserve {
                display: flex;
                flex-direction: row-reverse;

                .img-wpapper {
                    width: 100%;
                }
                .menu-desc {
                    padding: 15px 0;
                    width: 100%;
                    h3 {
                        padding-left: 15px;
                    }
                    p {
                        padding-left: 15px;
                    }
                }
            }

            .menu-items {
                .menu-order {
                    margin-top: 25px;
                }
            }
        }
    }
    #menu2 {
        height: auto;
        padding-bottom: 20px;
        padding-top: 50px;
        #pricing-box {
            .pizza-block {
                .pizza-item {
                    p {
                        text-align: left;
                    }
                }
            } 
        } 
    }
}


@media (max-width:690px) {
    #menu1 {
        h2 {
            font-size: 26px;
        }
        p {
            font-size: 14px;
            width: 70%;
        }
        #menu-blocks {
            .menu-items {
                .menu-desc {
                    p {
                        font-size: 11px;
                    } 
                }
                .menu-order {
                    margin-top: 15px;
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    #menu2 {
        h2 {
            font-size: 26px;
        }
        p {
            font-size: 14px;
            width: 70%;
        }
        #pricing-box {
            .pizza-block {
                .pizza-item {
                    p {
                        font-size: 12px;
                    }
                }
            } 
        }  
    }
}


@media (max-width:610px) {
    #menu1 {
        #menu-blocks {
            grid-template: repeat(6, 1fr) / 1fr;
            .menu-items {
                .menu-desc {
                    p {
                        font-size: 16px;
                        padding-top: 20px;
                    }
                    h3 {
                        font-size: 24px;
                    }
                }
                .menu-order {
                    padding-top: 30px;
                    p {
                        padding-top: 0;
                        padding-left: 20px;
                    }
                    button {
                        height: 35px;
                    width: 70px;
                    }
                }
            }
        } 
    }
}


@media (max-width:480px) {
    #menu1 {
        #menu-blocks {
            .menu-items {
                .menu-desc {
                    p {
                        font-size: 11px;
                    }
                    h3 {
                        font-size: 19px;
                    } 
                }
                .menu-order {
                    padding-top: 15px;
                    p {
                        font-size: 13px;
                        padding-top: 0;
                        padding-left: 20px;
                    }
                    button {
                        height: 25px;
                        width: 60px;
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    #menu2 {
        #pricing-box {
            flex-direction: column;
            .pizza-block {
                .pizza-item {
                    .pizza-desc {
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}