#services {
    height: 600px;
    background: url(../img/food.png) repeat;
    text-align: center;

    h2 {
        color: $colorBlack;
        padding-top: 80px;
    }
    p {
       font-weight: 300;
       color: rgb(70, 70, 70);
       width: 600px;
       margin: 30px auto;
    }

    #services-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 80px;

        .items {
            width: 400px;

            .items-icons {
                width: 120px;
                margin: 0 auto;
                border: 1px solid #be800e;
                transition: all 0.5s linear;
                cursor: pointer;
                img {
                    width: 60px;
                    height: 60px;
                    margin: 20px 0;
                }
                &:hover {
                    background-color: #e9a220;
                    transform: scale(1.2);
                }
            }

            h3 {
                color: $colorBlack;
                margin-top: 40px;
            }

            p {
                width: 100%;
            }
        }
    }
}

@media (max-width:800px) {
    #services {
        height: auto;
        h2 {
            font-size: 26px;
        }
        p {
            font-size: 15px;
        }
        #services-items {
            margin-top: 60px;
            .items {
                width: 100%;
                margin: 0 15px;
                .items-icons {
                    width: 100px;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
                h3 {
                    font-size: 18px;
                    margin-top: 30px;
                }
            }
        }
    }
}


@media (max-width:620px) {
    #services {
        p {
            width: 80%;
        }
    }
}


@media (max-width:450px) {
    #services {
        #services-items {
            flex-direction: column;
            .items {
                width: 100%;
                margin: 0;
                p {
                    width: 90%;
                    margin-top: 20px;
                    text-align: center;
                }
            }
        }
    }
}