header .welcome .welcome-contains p:nth-child(1) {
  font-family: "Nothing You Could Do", cursive;
  font-size: 2rem;
  color: #fac564;
}

#contact #form-content #form-area textarea, #contact #form-content #form-email input, #contact #form-content #names input {
  border: none;
  margin-top: 10px;
  border-bottom: 1.5px solid white;
  background-color: black;
  margin-bottom: 30px;
  outline: none;
  color: #fac564;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

#contact #form-content #form-area label, #contact #form-content #form-email label, #contact #form-content #names label {
  color: white;
  position: absolute;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s linear;
  pointer-events: none;
}

header {
  position: relative;
}
header #placeholder {
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: rgba(18, 22, 24, 0.9);
  height: 80px;
  margin: 0;
  position: fixed;
  z-index: 4;
}
header #placeholder #logo {
  margin: auto 0;
  margin-left: 220px;
}
header #placeholder #logo img {
  float: left;
  margin-right: 5px;
}
header #placeholder #logo a {
  text-decoration: none;
  color: white;
}
header #placeholder #logo #pizza-logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  margin: 0;
}
header #placeholder #logo #pizza-logo2 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  font-size: 13px;
  margin: 0;
}
header #placeholder #logo #pizza-logo2 a {
  color: #fac564;
}
header #placeholder #nav {
  margin: auto 0;
}
header #placeholder #nav a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  padding: 0 30px;
  width: 100%;
  font-size: 16px;
  transition: all 0.5s linear;
}
header #placeholder #nav a:hover {
  -webkit-text-decoration: underline 1.75px;
          text-decoration: underline 1.75px;
  color: #ffffff;
  font-size: 18px;
}
header #placeholder #nav .active {
  color: #fac564;
  font-size: 18px;
}
header #place1 {
  background-image: url("../img/Screenshot_10.png");
  opacity: 0;
  transition: opacity 0.5s linear;
}
header #place1 .btn1 {
  border: 2px solid #fac564;
}
header #place1 .btn1 div {
  background-color: #fac564;
}
header #place3 {
  background-image: url("../img/bg_1.jpg");
  opacity: 0;
  transition: opacity 0.5s linear;
}
header #place3 .buttons {
  margin-top: 30px;
}
header #place3 .buttons .btn3 {
  border: 2px solid #fac564;
}
header #place3 .buttons .btn3 div {
  background-color: #fac564;
}
header #place3 .placeholder3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto auto;
  max-width: 70%;
}
header #place3 .placeholder3 .welcome-contains {
  text-align: left;
  padding-top: 60px;
}
header #place3 .placeholder3 .welcome-contains .btns {
  text-align: left;
}
header #place3 .placeholder3 .img-container {
  padding-top: 120px;
  margin-right: 40px;
}
header #place3 .placeholder3 .img-container img {
  width: 500px;
  height: 500px;
}
header #place2 {
  background-image: url("../img/bg_1.jpg");
  opacity: 1;
  transition: opacity 0.5s linear;
}
header #place2 .buttons {
  margin-top: 30px;
}
header #place2 .buttons .btn2 {
  border: 2px solid #fac564;
}
header #place2 .buttons .btn2 div {
  background-color: #fac564;
}
header #place2 .placeholder2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto auto;
  max-width: 70%;
}
header #place2 .placeholder2 .welcome-contains {
  text-align: right;
  padding-top: 60px;
}
header #place2 .placeholder2 .welcome-contains .btns {
  text-align: right;
}
header #place2 .placeholder2 .img-container {
  padding-top: 120px;
  margin-left: 40px;
}
header #place2 .placeholder2 .img-container img {
  width: 500px;
  height: 500px;
}
header .welcome {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
}
header .welcome:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
header .welcome .welcome-contains {
  height: auto;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 170px;
  text-align: center;
  position: relative;
  z-index: 2;
  line-height: 1.4;
}
header .welcome .welcome-contains p:nth-child(3) {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 300;
}
header .welcome .welcome-contains h1 {
  font-size: 2.8rem;
}
header .welcome .welcome-contains .btns {
  margin-top: 60px;
  text-align: center;
}
header .welcome .welcome-contains .btns a {
  border: 1px solid black;
  padding: 15px 20px;
  margin: 0 2px;
  text-decoration: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  transition: all 0.5s linear;
}
header .welcome .welcome-contains .btns a:nth-child(1) {
  background-color: #fac564;
  color: black;
  border: 1px solid #fac564;
}
header .welcome .welcome-contains .btns a:nth-child(1):hover {
  background-color: #e9a220;
  border: 1px solid black;
}
header .welcome .welcome-contains .btns a:nth-child(2) {
  color: white;
  border: 1px solid white;
}
header .welcome .welcome-contains .btns a:nth-child(2):hover {
  color: black;
  background-color: #e9a220;
  border: 1px solid #fac564;
}
header .welcome .buttons {
  margin-top: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
header .welcome .buttons .btn-border {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 5px;
  padding: 2.2px;
  transition: all 0.2s linear;
}
header .welcome .buttons .btn-border:hover {
  border: 2px solid #fac564;
}
header .welcome .buttons .btn-border:hover div {
  background-color: #fac564;
}
header .welcome .buttons .btn-border div {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  transition: all 0.2s linear;
}

@media screen and (max-width: 1170px) {
  header #placeholder {
    display: flex;
    flex-direction: row;
  }
  header #placeholder #logo {
    margin-left: 80px;
    margin-right: 100px;
  }
  header #placeholder #nav a {
    font-size: 15px;
  }
  header #placeholder #nav a:hover {
    font-size: 16px;
  }
  header #placeholder #nav .active {
    font-size: 16px;
  }
  header .welcome .buttons {
    margin-top: 215px;
  }
  header .welcome .welcome-contains {
    max-width: none;
  }
  header .welcome .welcome-contains h1 {
    font-size: 28px;
  }
  header .welcome .welcome-contains p:nth-child(3) {
    font-size: 17px;
  }
  header .welcome .welcome-contains .btns a {
    padding: 8px 10px;
  }
  header #place3 .placeholder3 .img-container {
    margin-top: 40px;
  }
  header #place3 .placeholder3 .img-container img {
    width: 400px;
    height: 400px;
  }
  header #place2 .placeholder2 .img-container {
    margin-top: 40px;
  }
  header #place2 .placeholder2 .img-container img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 960px) {
  header #placeholder {
    display: flex;
    flex-direction: row;
  }
  header #placeholder #logo {
    margin-left: 60px;
    margin-right: 50px;
  }
  header #placeholder #nav a {
    font-size: 14px;
    padding: 0 20px;
  }
  header #placeholder #nav a:hover {
    font-size: 15px;
  }
  header #placeholder #nav .active {
    font-size: 15px;
  }
  header .welcome .buttons {
    margin-top: 132px;
  }
  header .welcome .welcome-contains {
    max-width: none;
    margin-top: 100px;
  }
  header .welcome .welcome-contains h1 {
    font-size: 20px;
  }
  header .welcome .welcome-contains p:nth-child(3) {
    font-size: 14px;
  }
  header .welcome .welcome-contains .btns {
    margin-top: 30px;
  }
  header .welcome .welcome-contains .btns a {
    padding: 8px 10px;
    margin: 5px 0;
    width: auto;
    font-size: 12px;
  }
  header #place3 .placeholder3 .welcome-contains .btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header #place3 .placeholder3 .img-container {
    margin-top: 40px;
  }
  header #place3 .placeholder3 .img-container img {
    width: 300px;
    height: 300px;
  }
  header #place2 .placeholder2 .welcome-contains .btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  header #place2 .placeholder2 .img-container {
    margin-top: 40px;
  }
  header #place2 .placeholder2 .img-container img {
    width: 300px;
    height: 300px;
  }
  header #place1 .welcome-contains {
    margin-top: 200px;
  }
}
@media screen and (max-width: 750px) {
  header {
    height: auto;
  }
  header #placeholder #logo {
    margin-left: 30px;
    margin-right: 40px;
  }
  header #placeholder #logo img {
    width: 19px;
    height: 20px;
  }
  header #placeholder #logo #pizza-logo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    margin: 0;
  }
  header #placeholder #logo #pizza-logo2 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    margin: 0;
  }
  header #placeholder #nav a {
    font-size: 14px;
    padding: 0 15px;
  }
  header #placeholder #nav a:hover {
    font-size: 15px;
  }
  header #placeholder #nav .active {
    font-size: 15px;
  }
  header .welcome .buttons {
    margin-top: 200px;
  }
  header .welcome .welcome-contains {
    max-width: none;
    margin-top: 100px;
  }
  header .welcome .welcome-contains p:nth-child(1) {
    font-size: 20px;
  }
  header .welcome .welcome-contains h1 {
    font-size: 18px;
  }
  header .welcome .welcome-contains p:nth-child(3) {
    font-size: 13px;
    margin-top: 10px;
  }
  header .welcome .welcome-contains .btns {
    margin-top: 30px;
  }
  header .welcome .welcome-contains .btns a {
    padding: 8px 10px;
    margin: 5px 0;
    width: auto;
    font-size: 12px;
  }
  header #place3 .buttons {
    margin-top: 83px;
  }
  header #place2 .buttons {
    margin-top: 67px;
  }
}
@media (max-width: 640px) {
  header {
    height: auto;
  }
  header #placeholder #logo {
    margin-left: 30px;
    margin-right: 30px;
  }
  header #placeholder #logo img {
    width: 18px;
    height: 19px;
  }
  header #placeholder #logo #pizza-logo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 21px;
    margin: 0;
  }
  header #placeholder #logo #pizza-logo2 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
    margin: 0;
  }
  header #placeholder #nav a {
    font-size: 13px;
    padding: 0 12px;
  }
  header #placeholder #nav a:hover {
    font-size: 14px;
  }
  header #placeholder #nav .active {
    font-size: 14px;
  }
  header .welcome .buttons {
    margin-top: 285px;
  }
  header .welcome .buttons .btn-border {
    width: 20px;
    height: 20px;
  }
  header .welcome .welcome-contains {
    max-width: none;
    margin-top: 100px;
  }
  header .welcome .welcome-contains p:nth-child(1) {
    font-size: 22px;
  }
  header .welcome .welcome-contains h1 {
    font-size: 20px;
  }
  header .welcome .welcome-contains p:nth-child(3) {
    font-size: 13px;
    margin-top: 10px;
  }
  header .welcome .welcome-contains .btns {
    margin-top: 30px;
  }
  header .welcome .welcome-contains .btns a {
    padding: 8px 10px;
    margin: 5px 0;
    width: auto;
    font-size: 12px;
  }
  header #place3 .buttons {
    margin-top: 30px;
  }
  header #place3 .placeholder3 {
    flex-direction: column;
  }
  header #place3 .placeholder3 .welcome-contains {
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
  }
  header #place3 .placeholder3 .welcome-contains .btns {
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
  }
  header #place3 .placeholder3 .welcome-contains .btns a {
    margin-left: 8px;
  }
  header #place3 .placeholder3 .img-container {
    margin: 0;
  }
  header #place2 .buttons {
    margin-top: 30px;
  }
  header #place2 .placeholder2 {
    flex-direction: column-reverse;
  }
  header #place2 .placeholder2 .welcome-contains {
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
  }
  header #place2 .placeholder2 .welcome-contains .btns {
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
  }
  header #place2 .placeholder2 .welcome-contains .btns a {
    margin-left: 8px;
  }
  header #place2 .placeholder2 .img-container {
    margin: 0;
  }
}
@media (max-width: 415px) {
  header {
    height: auto;
  }
  header #placeholder #nav {
    display: grid;
    grid-template: 1fr 1fr/repeat(3, 1fr);
  }
  header #place2 .placeholder2 .img-container {
    margin-top: 40px;
  }
  header #place2 .placeholder2 .img-container img {
    width: 200px;
    height: 200px;
  }
  header #place3 .placeholder3 .img-container {
    margin-top: 40px;
  }
  header #place3 .placeholder3 .img-container img {
    width: 200px;
    height: 200px;
  }
  header .welcome {
    height: 97%;
  }
  header .welcome .buttons {
    margin-top: 208px;
  }
}
#intro {
  height: 130px;
  display: grid;
  grid-template-columns: 5fr 3fr;
}
#intro img {
  width: 20px;
  height: 20px;
  transition: all 0.5s linear;
}
#intro #info {
  background-color: rgb(18, 22, 24);
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 70px;
}
#intro #info .container-info {
  margin: auto 15px;
  display: flex;
  flex-direction: row;
}
#intro #info .container-info img {
  margin-right: 20px;
}
#intro #info .container-info h4 {
  font-size: 18px;
}
#intro #info .container-info p {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  font-size: 14px;
  margin-top: 7px;
}
#intro #social {
  background-color: #fac564;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}
#intro #social a {
  margin: auto 15px;
}
#intro #social a img:hover {
  width: 27px;
  height: 27px;
}

#about {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#about #about-photo img {
  height: 400px;
  width: 100%;
}
#about #about-desc {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 50px;
}
#about #about-desc h2 {
  text-align: left;
}
#about #about-desc h2 span {
  color: #fac564;
}
#about #about-desc h2 img {
  width: 27px;
  height: 27px;
}
#about #about-desc p {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  text-align: left;
  font-size: 15px;
}

@media (max-width: 1000px) {
  #about {
    height: auto;
  }
  #about #about-photo img {
    height: 300px;
    width: 100%;
  }
  #about #about-desc {
    padding: 15px 30px;
  }
  #about #about-desc p {
    font-size: 14px;
  }
}
@media (max-width: 915px) {
  #intro {
    height: auto;
  }
  #intro #info {
    padding-right: 40px;
  }
  #intro #info .container-info {
    margin: 6px 12px;
  }
  #intro #info .container-info h4 {
    font-size: 16px;
  }
  #intro #info .container-info p {
    font-size: 12px;
  }
  #about #about-desc h2 {
    font-size: 20px;
    text-align: left;
  }
  #about #about-desc h2 span {
    color: #fac564;
  }
  #about #about-desc h2 img {
    width: 25px;
    height: 25px;
  }
  #about #about-desc p {
    font-size: 13px;
  }
}
@media (max-width: 750px) {
  #about #about-photo img {
    height: 260px;
    width: 100%;
  }
  #about #about-desc h2 {
    font-size: 20px;
    text-align: left;
  }
  #about #about-desc h2 span {
    color: #fac564;
  }
  #about #about-desc h2 img {
    width: 25px;
    height: 25px;
  }
  #about #about-desc p {
    font-size: 12px;
    margin-top: 15px;
  }
}
@media (max-width: 580px) {
  #intro {
    display: flex;
    flex-direction: column;
  }
  #intro #info {
    padding: 7px 15px;
  }
  #intro #social {
    padding: 20px 0;
    justify-content: center;
  }
  #about {
    display: flex;
    flex-direction: column;
  }
  #about #about-photo img {
    height: 320px;
  }
  #about #about-desc h2 {
    text-align: center;
  }
  #about #about-desc p {
    text-align: center;
  }
}
@media (max-width: 415px) {
  #about #about-photo img {
    height: 250px;
  }
  #intro img {
    width: 15px;
    height: 15px;
  }
  #intro #info {
    padding: 7px 8px;
  }
  #intro #info .container-info img {
    margin-right: 10px;
  }
  #intro #info .container-info h4 {
    font-size: 14px;
  }
  #intro #info .container-info p {
    font-size: 11px;
  }
  #intro #social img {
    width: 19px;
    height: 19px;
  }
  #intro #social a img:hover {
    width: 23px;
    height: 23px;
  }
}
#services {
  height: 600px;
  background: url(../img/food.png) repeat;
  text-align: center;
}
#services h2 {
  color: rgb(18, 22, 24);
  padding-top: 80px;
}
#services p {
  font-weight: 300;
  color: rgb(70, 70, 70);
  width: 600px;
  margin: 30px auto;
}
#services #services-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}
#services #services-items .items {
  width: 400px;
}
#services #services-items .items .items-icons {
  width: 120px;
  margin: 0 auto;
  border: 1px solid #be800e;
  transition: all 0.5s linear;
  cursor: pointer;
}
#services #services-items .items .items-icons img {
  width: 60px;
  height: 60px;
  margin: 20px 0;
}
#services #services-items .items .items-icons:hover {
  background-color: #e9a220;
  transform: scale(1.2);
}
#services #services-items .items h3 {
  color: rgb(18, 22, 24);
  margin-top: 40px;
}
#services #services-items .items p {
  width: 100%;
}

@media (max-width: 800px) {
  #services {
    height: auto;
  }
  #services h2 {
    font-size: 26px;
  }
  #services p {
    font-size: 15px;
  }
  #services #services-items {
    margin-top: 60px;
  }
  #services #services-items .items {
    width: 100%;
    margin: 0 15px;
  }
  #services #services-items .items .items-icons {
    width: 100px;
  }
  #services #services-items .items .items-icons img {
    width: 50px;
    height: 50px;
  }
  #services #services-items .items h3 {
    font-size: 18px;
    margin-top: 30px;
  }
}
@media (max-width: 620px) {
  #services p {
    width: 80%;
  }
}
@media (max-width: 450px) {
  #services #services-items {
    flex-direction: column;
  }
  #services #services-items .items {
    width: 100%;
    margin: 0;
  }
  #services #services-items .items p {
    width: 90%;
    margin-top: 20px;
    text-align: center;
  }
}
#gallery {
  display: flex;
  flex-direction: column;
}
#gallery #photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transition: all 2s linear;
}
#gallery #photos .photo-items {
  height: 260px;
  width: 100%;
  position: relative;
  transition: all 1s linear;
}
#gallery #photos .photo-items img:nth-child(2) {
  height: 100%;
  width: 100%;
}
#gallery #photos .photo-items .photo-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fac564;
  transition: all 0.4s linear;
  opacity: 0;
}
#gallery #photos .photo-items .photo-icon img {
  width: 40px;
  height: 40px;
}
#gallery #rewards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 350px;
  background: url(../img/Screenshot_15.png) no-repeat;
  background-size: cover;
  position: relative;
}
#gallery #rewards::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
#gallery #rewards .gallery-items {
  z-index: 3;
  margin: auto 50px;
  text-align: center;
}
#gallery #rewards .gallery-items:hover .gallery-icons {
  transform: perspective(150px) translateZ(30px);
  background-color: rgb(18, 22, 24);
}
#gallery #rewards .gallery-items .gallery-icons {
  width: 100px;
  margin: 0 auto;
  border: 1px solid #fac564;
  transition: all 0.5s linear;
  cursor: pointer;
}
#gallery #rewards .gallery-items .gallery-icons img {
  width: 50px;
  height: 50px;
  margin: 20px 0;
}
#gallery #rewards .gallery-items h2 {
  color: #fac564;
  font-weight: 400;
  margin-top: 30px;
}
#gallery #rewards .gallery-items p {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}

@media screen and (max-width: 1250px) {
  #gallery #photos .photo-items {
    height: 200px;
  }
}
@media screen and (max-width: 960px) {
  #gallery #photos .photo-items {
    height: 170px;
  }
}
@media screen and (max-width: 860px) {
  #gallery #photos .photo-items {
    height: 150px;
  }
  #gallery #rewards {
    height: auto;
    padding: 30px 0;
  }
  #gallery #rewards .gallery-items {
    margin: 0 20px;
  }
  #gallery #rewards .gallery-items:hover .gallery-icons {
    transform: perspective(110px) translateZ(20px);
    background-color: rgb(18, 22, 24);
  }
  #gallery #rewards .gallery-items .gallery-icons {
    width: 70px;
  }
  #gallery #rewards .gallery-items .gallery-icons img {
    width: 30px;
    height: 30px;
    margin: 15px 0;
  }
  #gallery #rewards .gallery-items h2 {
    font-size: 22px;
  }
  #gallery #rewards .gallery-items p {
    font-size: 15px;
  }
}
@media screen and (max-width: 760px) {
  #gallery #photos {
    grid-template: 1fr 1fr/1fr 1fr;
  }
  #gallery #photos .photo-items {
    height: 260px;
  }
}
@media screen and (max-width: 680px) {
  #gallery #photos .photo-items {
    height: 230px;
  }
}
@media screen and (max-width: 580px) {
  #gallery #photos .photo-items {
    height: 210px;
  }
  #gallery #rewards .gallery-items h2 {
    font-size: 20px;
  }
  #gallery #rewards .gallery-items p {
    font-size: 13px;
  }
}
@media screen and (max-width: 530px) {
  #gallery #photos .photo-items {
    height: 180px;
  }
}
@media screen and (max-width: 470px) {
  #gallery #photos .photo-items {
    height: 160px;
  }
}
@media screen and (max-width: 415px) {
  #gallery #photos .photo-items {
    height: 140px;
  }
  #gallery #rewards .gallery-items {
    margin: 0 8px;
  }
  #gallery #rewards .gallery-items:hover .gallery-icons {
    transform: perspective(160px) translateZ(20px);
    background-color: rgb(18, 22, 24);
  }
  #gallery #rewards .gallery-items .gallery-icons {
    width: 60px;
  }
  #gallery #rewards .gallery-items .gallery-icons img {
    width: 25px;
    height: 25px;
    margin: 15px 0;
  }
  #gallery #rewards .gallery-items h2 {
    font-size: 20px;
  }
  #gallery #rewards .gallery-items p {
    font-size: 12px;
  }
}
#blog {
  height: 700px;
  text-align: center;
  padding-top: 60px;
}
#blog p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  width: 40%;
  margin: 30px auto;
  font-size: 17px;
}
#blog #blog-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#blog #blog-container .blog-items {
  width: 330px;
  margin: 30px 15px;
}
#blog #blog-container .blog-items p {
  font-size: 15px;
}
#blog #blog-container .blog-items p:last-child {
  width: 100%;
  text-align: left;
  margin-top: 8px;
}
#blog #blog-container .blog-items .blog-img {
  transition: all 0.5s linear;
}
#blog #blog-container .blog-items .blog-img img {
  width: 100%;
  height: 250px;
  margin-bottom: 0;
  transition: all 0.7s linear;
  cursor: pointer;
  /* &:hover {
      z-index: 3;
      transform: scale(1.3);
      border: 1px solid $colorOrange;
  } */
}
#blog #blog-container .blog-items h3 {
  text-align: left;
  margin-top: 30px;
  transition: all 0.2s linear;
  cursor: pointer;
}
#blog #blog-container .blog-items h3:hover {
  color: #fac564;
}
#blog #blog-container .blog-items .blog-desc {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 15px;
  width: 270px;
}
#blog #blog-container .blog-items .blog-desc p {
  margin: 0;
  text-align: left;
}
#blog #blog-container .blog-items .blog-desc p:nth-child(2) {
  width: 70px;
}
#blog #blog-container .blog-items .blog-desc .number {
  margin: auto 0;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  font-size: 15px;
  transition: all 0.2s linear;
  cursor: pointer;
}
#blog #blog-container .blog-items .blog-desc .number:hover span {
  color: #fac564;
}
#blog #blog-container .blog-items .blog-desc .number img {
  height: 10px;
  width: 10px;
  margin-right: 7px;
}

@media (max-width: 1000px) {
  #blog {
    height: auto;
  }
  #blog p {
    font-size: 15px;
  }
  #blog #blog-container .blog-items {
    overflow: hidden;
    width: 100%;
  }
  #blog #blog-container .blog-items p {
    font-size: 14px;
  }
  #blog #blog-container .blog-items h3 {
    margin-top: 15px;
  }
  #blog #blog-container .blog-items .blog-img img {
    height: 220px;
  }
}
@media (max-width: 880px) {
  #blog #blog-container .blog-items .blog-img img {
    height: 200px;
  }
}
@media (max-width: 830px) {
  #blog h2 {
    font-size: 27px;
  }
  #blog #blog-container .blog-items .blog-img img {
    height: 180px;
  }
}
@media (max-width: 750px) {
  #blog p:first-of-type {
    margin-bottom: 10px;
  }
  #blog #blog-container .blog-items .blog-img img {
    height: 160px;
  }
}
@media (max-width: 720px) {
  #blog #blog-container .blog-items p {
    font-size: 12px;
  }
  #blog #blog-container .blog-items .blog-img img {
    height: 140px;
  }
  #blog #blog-container .blog-items .blog-desc {
    width: 100%;
  }
  #blog #blog-container .blog-items .blog-desc p:nth-child(2) {
    width: 50px;
  }
  #blog #blog-container .blog-items .blog-desc .number {
    font-size: 12px;
  }
}
@media (max-width: 660px) {
  #blog #blog-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  #blog #blog-container .blog-items {
    width: 100%;
    margin: 30px 0;
  }
  #blog #blog-container .blog-items .blog-img {
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
  }
  #blog #blog-container .blog-items .blog-img img {
    height: 280px;
  }
  #blog #blog-container .blog-items .blog-desc {
    margin-top: 8px;
    justify-content: center;
  }
  #blog #blog-container .blog-items .blog-desc p:nth-child(1) {
    width: 120px;
  }
  #blog #blog-container .blog-items .blog-desc p:nth-child(2) {
    width: 70px;
  }
  #blog #blog-container .blog-items h3 {
    text-align: center;
  }
  #blog #blog-container .blog-items p:last-child {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 550px) {
  #blog #blog-container .blog-items .blog-img img {
    height: 250px;
  }
  #blog #blog-container .blog-items .blog-desc {
    margin-top: 5px;
  }
}
@media (max-width: 415px) {
  #blog p:first-of-type {
    width: 80%;
  }
  #blog h2 {
    font-size: 21px;
  }
  #blog #blog-container .blog-items .blog-img {
    width: 70%;
  }
  #blog #blog-container .blog-items .blog-img img {
    height: 200px;
  }
  #blog #blog-container .blog-items .blog-desc {
    margin-top: 0;
  }
}
#contact {
  height: 550px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#contact #map iframe {
  width: 100%;
  height: 550px;
}
#contact #form-content {
  padding-top: 60px;
  padding-left: 100px;
}
#contact #form-content h3 {
  font-size: 29px;
  margin-bottom: 40px;
}
#contact #form-content #names {
  display: flex;
  flex-direction: row;
}
#contact #form-content #names label {
  font-size: 18px;
}
#contact #form-content #names div {
  margin: 0 0;
  margin-right: 40px;
  position: relative;
}
#contact #form-content #form-email {
  width: 450px;
  margin-top: 10px;
}
#contact #form-content #form-email label {
  font-size: 18px;
}
#contact #form-content #form-email input {
  width: 100%;
}
#contact #form-content #form-area {
  width: 450px;
  margin-top: 10px;
}
#contact #form-content #form-area label {
  font-size: 18px;
}
#contact #form-content #form-area textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
}
#contact #form-content button {
  height: 50px;
  width: 90px;
  font-family: "Poppins", sans-serif;
  background-color: #fac564;
  margin-top: 0;
  transition: all 0.4s linear;
  cursor: pointer;
}
#contact #form-content button:hover {
  background-color: #e9a220;
  font-weight: 500;
}

@media screen and (max-width: 1050px) {
  #contact #form-content {
    padding-top: 40px;
    padding-left: 50px;
  }
}
@media screen and (max-width: 940px) {
  #contact #form-content {
    padding-top: 40px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 850px) {
  #contact {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  #contact #form-content {
    margin: 0 auto;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  #contact #map iframe {
    width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 510px) {
  #contact #form-content {
    width: 100%;
    padding-left: 10px;
  }
  #contact #form-content h3 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  #contact #form-content #names {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #contact #form-content #names label {
    font-size: 15px;
  }
  #contact #form-content #names div {
    margin-right: 20px;
  }
  #contact #form-content #form-email {
    width: 430px;
  }
  #contact #form-content #form-email label {
    font-size: 15px;
  }
  #contact #form-content #form-area {
    width: 430px;
  }
  #contact #form-content #form-area label {
    font-size: 15px;
  }
}
@media (max-width: 460px) {
  #contact #form-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  #contact #form-content #names {
    width: 100%;
  }
  #contact #form-content #names input {
    width: 100%;
  }
  #contact #form-content #form-email {
    width: 100%;
    padding-right: 10px;
  }
  #contact #form-content #form-area {
    width: 100%;
    padding-right: 10px;
  }
  #contact #form-content button {
    width: 70px;
    height: 40px;
  }
}
footer {
  background-color: rgb(18, 22, 24);
  height: 550px;
}
footer #bye {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  margin-top: 80px;
}
footer #bye a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
footer #bye a:hover {
  color: #fac564;
}
footer #bye a:visited {
  color: #fac564;
  text-decoration: none;
}
footer #foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
}
footer #foot h3 {
  margin-bottom: 30px;
}
footer #foot #about-us {
  width: 16%;
  margin-right: 50px;
}
footer #foot #about-us p {
  margin: 0;
  margin-bottom: 70px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
}
footer #foot #about-us #about-us-icons {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
footer #foot #about-us #about-us-icons div {
  width: 60px;
  height: 60px;
  background-color: rgba(73, 73, 73, 0.3);
  text-align: center;
  margin-right: 20px;
  padding-top: 15px;
  border-radius: 50%;
  transition: all 0.4s linear;
}
footer #foot #about-us #about-us-icons div:hover {
  transform: scale(1.1);
  background-color: #e9a220;
}
footer #foot #about-us #about-us-icons div img {
  width: 25px;
  height: 25px;
}
footer #foot #foot-blog {
  margin-right: 50px;
  width: 330px;
}
footer #foot #foot-blog #foot-blog-items {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
footer #foot #foot-blog #foot-blog-items .foot-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
footer #foot #foot-blog #foot-blog-items .foot-item div:nth-child(1) {
  margin-right: 25px;
}
footer #foot #foot-blog #foot-blog-items .foot-item h4 {
  transition: all 0.2s linear;
  cursor: pointer;
}
footer #foot #foot-blog #foot-blog-items .foot-item h4:hover {
  color: #fac564;
}
footer #foot #foot-blog #foot-blog-items .foot-item .foot-item-desc {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 15px;
}
footer #foot #foot-blog #foot-blog-items .foot-item .foot-item-desc .number {
  margin: auto 0;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  font-size: 13px;
  transition: all 0.2s linear;
  cursor: pointer;
  margin-right: 15px;
}
footer #foot #foot-blog #foot-blog-items .foot-item .foot-item-desc .number:hover {
  color: #fac564;
}
footer #foot #foot-blog #foot-blog-items .foot-item .foot-item-desc .number img {
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
footer #foot #foot-blog #foot-blog-items img {
  width: 70px;
  height: 70px;
}
footer #foot #foot-services {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
footer #foot #foot-services a {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: 200;
  margin: 10px 0;
  transition: all 0.5s linear;
}
footer #foot #foot-services a:hover {
  color: #fac564;
}
footer #foot #foot-contacts {
  width: 300px;
}
footer #foot #foot-contacts .foot-contacts-items {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  margin-bottom: 30px;
}
footer #foot #foot-contacts .foot-contacts-items div:nth-child(1) {
  margin-right: 15px;
  padding-top: 4px;
}
footer #foot #foot-contacts .foot-contacts-items .light {
  transition: all 0.5s;
  cursor: pointer;
}
footer #foot #foot-contacts .foot-contacts-items .light:hover {
  color: #fac564;
}
footer #foot #foot-contacts .foot-contacts-items img {
  width: 17px;
  height: 17px;
}

@media screen and (max-width: 1300px) {
  footer #foot #about-us #about-us-icons div {
    height: 45px;
    padding-top: 8px;
  }
}
@media screen and (max-width: 1050px) {
  footer {
    height: auto;
    padding: 20px 20px;
  }
  footer #foot {
    padding-top: 50px;
  }
  footer #foot #about-us {
    margin-right: 30px;
  }
  footer #foot #about-us p {
    font-size: 14px;
  }
  footer #foot #about-us #about-us-icons div {
    height: 35px;
    padding-top: 6px;
  }
  footer #foot #about-us #about-us-icons div img {
    width: 20px;
    height: 20px;
  }
  footer #foot #foot-blog {
    margin-right: 30px;
  }
  footer #foot #foot-services {
    margin-right: 30px;
  }
  footer #foot #foot-services a {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 0;
  }
  footer #foot #foot-contacts .foot-contacts-items {
    font-size: 14px;
  }
}
@media screen and (max-width: 975px) {
  footer #foot #foot-blog #foot-blog-items .foot-item .foot-item-desc .number {
    margin-right: 10px;
  }
}
@media screen and (max-width: 930px) {
  footer #foot h3 {
    font-size: 16px;
  }
  footer #foot #about-us #about-us-icons div {
    height: 28px;
    padding-top: 6px;
  }
  footer #foot #about-us #about-us-icons div img {
    width: 15px;
    height: 15px;
  }
  footer #foot #foot-blog #foot-blog-items .foot-item .foot-item-desc .number {
    margin-right: 8px;
    font-size: 12px;
  }
}
@media screen and (max-width: 890px) {
  footer #foot #foot-blog #foot-blog-items .foot-item .foot-item-desc .number {
    margin-right: 5px;
  }
}
@media screen and (max-width: 860px) {
  footer #foot {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    row-gap: 20px;
  }
  footer #foot #about-us {
    width: 80%;
    margin-bottom: 25px;
  }
  footer #foot #about-us p {
    margin-bottom: 40px;
  }
  footer #foot #about-us #about-us-icons div {
    height: 45px;
    width: 45px;
    padding-top: 12px;
  }
  footer #foot #about-us #about-us-icons div img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 650px) {
  footer {
    padding-right: 8px;
  }
  footer #bye {
    margin-top: 50px;
    font-size: 15px;
  }
  footer #foot #about-us {
    width: 90%;
  }
  footer #foot #about-us #about-us-icons div {
    margin-right: 10px;
  }
}
@media screen and (max-width: 580px) {
  footer #bye {
    margin-top: 30px;
    font-size: 13px;
  }
  footer #foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  footer #foot #about-us #about-us-icons div {
    margin: 0 auto;
  }
  footer #foot #foot-blog {
    margin: 0 auto;
  }
  footer #foot #foot-blog #foot-blog-items .foot-item h4 {
    font-size: 17px;
    text-align: left;
  }
  footer #foot #foot-blog #foot-blog-items .foot-item .foot-item-desc .number {
    margin-right: 13px;
    font-size: 14px;
  }
  footer #foot #foot-contacts {
    margin: 0 auto;
  }
  footer #foot #foot-contacts .foot-contacts-items div:nth-child(2) {
    text-align: left;
  }
}
#home-menu {
  height: 600px;
  display: grid;
  grid-template-columns: 2fr 4fr;
}
#home-menu #home-menu-pic {
  margin-right: 40px;
}
#home-menu #home-menu-pic img {
  width: 100%;
  height: 90%;
}
#home-menu #home-menu-content {
  display: flex;
  flex-direction: column;
}
#home-menu #home-menu-content #home-menu-buttons {
  margin-top: 50px;
  text-align: left;
  margin-bottom: 50px;
}
#home-menu #home-menu-content #home-menu-buttons button {
  border: 1px solid #fac564;
  padding: 10px 17px;
  margin: 0 4px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: all 0.4s linear;
  color: #fac564;
  background: none;
  cursor: pointer;
}
#home-menu #home-menu-content #home-menu-buttons button:hover {
  background-color: #e9a220;
  color: black;
}
#home-menu #home-menu-content #home-menu-buttons .activeBtn {
  color: black;
  background-color: #fac564;
}
#home-menu #home-menu-content #home-menu-blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
#home-menu #home-menu-content #home-menu-blocks .home-menu-item {
  margin-right: 25px;
}
#home-menu #home-menu-content #home-menu-blocks .home-menu-item img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.6s linear;
}
#home-menu #home-menu-content #home-menu-blocks .home-menu-item img:hover {
  transform: scale(1.4);
}
#home-menu #home-menu-content #home-menu-blocks .home-menu-item h4 {
  margin: 15px 0;
  font-size: 20px;
}
#home-menu #home-menu-content #home-menu-blocks .home-menu-item .desc-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-weight: 200;
}
#home-menu #home-menu-content #home-menu-blocks .home-menu-item .price {
  margin: 20px 0;
  color: #fac564;
}
#home-menu #home-menu-content #home-menu-blocks .home-menu-item button {
  font-family: "Poppins", sans-serif;
  background: none;
  width: 90px;
  height: 30px;
  color: white;
  border: 1px solid white;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.4s linear;
}
#home-menu #home-menu-content #home-menu-blocks .home-menu-item button:hover {
  color: #fac564;
  border: 1px solid #fac564;
}

@media screen and (max-width: 1000px) {
  #home-menu {
    grid-template-columns: 1fr;
  }
  #home-menu #home-menu-pic img {
    display: none;
  }
  #home-menu #home-menu-content #home-menu-buttons {
    margin-top: 0;
  }
}
@media screen and (max-width: 780px) {
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item img:hover {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 630px) {
  #home-menu #home-menu-content #home-menu-buttons {
    text-align: center;
  }
  #home-menu #home-menu-content #home-menu-buttons button {
    padding: 5px 13px;
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item img {
    width: 140px;
    height: 140px;
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item img:hover {
    transform: scale(1.2);
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item h4 {
    font-size: 18px;
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item .desc-text {
    font-size: 13px;
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item .price {
    font-size: 15px;
  }
}
@media screen and (max-width: 510px) {
  #home-menu #home-menu-content #home-menu-buttons {
    margin-bottom: 20px;
  }
  #home-menu #home-menu-content #home-menu-blocks {
    flex-direction: column;
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item {
    display: flex;
    flex-direction: row;
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item img {
    margin-left: 12px;
    margin-right: 10px;
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item img:hover {
    transform: scale(1.1);
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item .price {
    float: left;
    margin-left: 50px;
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item button {
    margin-top: 17px;
  }
}
@media screen and (max-width: 415px) {
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item img {
    width: 110px;
    height: 110px;
    margin-right: 7px;
    margin-top: 15px;
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item .desc-text {
    font-size: 12px;
    text-align: left;
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item button {
    font-size: 11px;
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item h4 {
    font-size: 16px;
  }
  #home-menu #home-menu-content #home-menu-blocks .home-menu-item .price {
    font-size: 13px;
  }
}
#menu1 {
  height: auto;
  text-align: center;
  padding-top: 70px;
}
#menu1 p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  margin: 30px auto;
  width: 40%;
}
#menu1 #menu-blocks {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  margin-top: 70px;
}
#menu1 #menu-blocks .menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
#menu1 #menu-blocks .menu-items .img-wpapper {
  overflow: hidden;
}
#menu1 #menu-blocks .menu-items .img-wpapper img {
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
  cursor: pointer;
}
#menu1 #menu-blocks .menu-items .img-wpapper img:hover {
  transform: rotate(45deg) scale(1.3);
}
#menu1 #menu-blocks .menu-items .menu-desc {
  padding: 30px 25px;
  overflow: hidden;
}
#menu1 #menu-blocks .menu-items .menu-desc h3 {
  margin-bottom: 15px;
  text-align: left;
}
#menu1 #menu-blocks .menu-items .menu-desc p {
  margin: 0;
  font-size: 15px;
  text-align: left;
  width: 100%;
}
#menu1 #menu-blocks .menu-items .menu-order {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 20px;
}
#menu1 #menu-blocks .menu-items .menu-order p {
  width: 25%;
  padding-top: 4px;
  color: #fac564;
  font-weight: 400;
}
#menu1 #menu-blocks .menu-items .menu-order button {
  height: 30px;
  width: 60px;
  background: none;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.4s linear;
}
#menu1 #menu-blocks .menu-items .menu-order button:hover {
  color: #fac564;
  border: 1px solid #fac564;
}

#menu2 {
  height: 650px;
  text-align: center;
  padding-top: 80px;
}
#menu2 p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  margin: 20px auto;
  width: 40%;
}
#menu2 #pricing-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
#menu2 #pricing-box .pizza-block {
  margin-right: 40px;
}
#menu2 #pricing-box .pizza-block .pizza-item {
  display: flex;
  flex-direction: row;
}
#menu2 #pricing-box .pizza-block .pizza-item p {
  margin: 0;
  width: 100%;
  font-size: 14px;
}
#menu2 #pricing-box .pizza-block .pizza-item img {
  width: 60px;
  height: 63px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding-top: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s linear;
}
#menu2 #pricing-box .pizza-block .pizza-item .pizza-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
#menu2 #pricing-box .pizza-block .pizza-item .pizza-desc h4 {
  margin: 0;
  width: 100%;
  padding-top: 5px;
  border-bottom: 1px dashed #e9a220;
  text-align: left;
}
#menu2 #pricing-box .pizza-block .pizza-item .pizza-desc p {
  width: 20%;
  color: #e9a220;
  font-weight: 300;
  text-align: right;
  font-size: 16px;
}

@media (max-width: 1290px) {
  #menu1 #menu-blocks .menu-items .menu-desc {
    padding: 15px 15px;
  }
  #menu1 #menu-blocks .menu-items .menu-order button {
    margin-left: 15px;
  }
}
@media (max-width: 1000px) {
  #menu1 #menu-blocks .menu-items .menu-desc h3 {
    font-size: 16px;
    margin-bottom: 4px;
  }
  #menu1 #menu-blocks .menu-items .menu-desc p {
    font-size: 12px;
  }
  #menu1 #menu-blocks .menu-items .menu-order {
    margin-top: 7px;
  }
  #menu1 #menu-blocks .menu-items .menu-order button {
    margin-left: 15px;
    height: 25px;
  }
}
@media (max-width: 920px) {
  #menu1 #menu-blocks {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  }
  #menu1 #menu-blocks .reserve {
    display: flex;
    flex-direction: row-reverse;
  }
  #menu1 #menu-blocks .reserve .img-wpapper {
    width: 100%;
  }
  #menu1 #menu-blocks .reserve .menu-desc {
    padding: 15px 0;
    width: 100%;
  }
  #menu1 #menu-blocks .reserve .menu-desc h3 {
    padding-left: 15px;
  }
  #menu1 #menu-blocks .reserve .menu-desc p {
    padding-left: 15px;
  }
  #menu1 #menu-blocks .menu-items .menu-order {
    margin-top: 25px;
  }
  #menu2 {
    height: auto;
    padding-bottom: 20px;
    padding-top: 50px;
  }
  #menu2 #pricing-box .pizza-block .pizza-item p {
    text-align: left;
  }
}
@media (max-width: 690px) {
  #menu1 h2 {
    font-size: 26px;
  }
  #menu1 p {
    font-size: 14px;
    width: 70%;
  }
  #menu1 #menu-blocks .menu-items .menu-desc p {
    font-size: 11px;
  }
  #menu1 #menu-blocks .menu-items .menu-order {
    margin-top: 15px;
  }
  #menu1 #menu-blocks .menu-items .menu-order p {
    font-size: 13px;
  }
  #menu2 h2 {
    font-size: 26px;
  }
  #menu2 p {
    font-size: 14px;
    width: 70%;
  }
  #menu2 #pricing-box .pizza-block .pizza-item p {
    font-size: 12px;
  }
}
@media (max-width: 610px) {
  #menu1 #menu-blocks {
    grid-template: repeat(6, 1fr)/1fr;
  }
  #menu1 #menu-blocks .menu-items .menu-desc p {
    font-size: 16px;
    padding-top: 20px;
  }
  #menu1 #menu-blocks .menu-items .menu-desc h3 {
    font-size: 24px;
  }
  #menu1 #menu-blocks .menu-items .menu-order {
    padding-top: 30px;
  }
  #menu1 #menu-blocks .menu-items .menu-order p {
    padding-top: 0;
    padding-left: 20px;
  }
  #menu1 #menu-blocks .menu-items .menu-order button {
    height: 35px;
    width: 70px;
  }
}
@media (max-width: 480px) {
  #menu1 #menu-blocks .menu-items .menu-desc p {
    font-size: 11px;
  }
  #menu1 #menu-blocks .menu-items .menu-desc h3 {
    font-size: 19px;
  }
  #menu1 #menu-blocks .menu-items .menu-order {
    padding-top: 15px;
  }
  #menu1 #menu-blocks .menu-items .menu-order p {
    font-size: 13px;
    padding-top: 0;
    padding-left: 20px;
  }
  #menu1 #menu-blocks .menu-items .menu-order button {
    height: 25px;
    width: 60px;
    margin-left: 20px;
  }
  #menu2 #pricing-box {
    flex-direction: column;
  }
  #menu2 #pricing-box .pizza-block .pizza-item .pizza-desc p {
    font-size: 14px;
  }
}
body {
  width: 100%;
  background: url("../img/bg_4.jpg") no-repeat fixed;
  background-size: cover;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-weight: 400;
}

h2 {
  font-size: 33px;
}

a {
  text-decoration: none;
}

#temp {
  height: 500px;
  background-color: white;
}

p {
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=main.css.map */